
.column-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 10px; 
  }

  .column-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    resize: both; /* Разрешить растягивание */
    overflow: auto; /* Обязательно для работы resize */
    min-width: 200px; /* Минимальная ширина */
    min-height: 100px; /* Минимальная высота */
  }
.Column {
    width: 300px; 
    height: 500px; 
    background-color: lightgray; 
    border: 2px solid black; 
    border-radius: 10px; 
    
    overflow-y: scroll; 
    overflow-x: hidden; 

}

.Column::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

.columnName{
    background-color:peru;
    color: black;
    border-radius: 5px;
    margin: 5px;
    width: 140px;
    padding: 5px;
    user-select: none;
    
}